h1 {
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline ;
}

span {
    background-color: paleturquoise;
    border: 1px solid black;
}

button {
    font-size: 30px;
    padding: 0 30px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(27, 201, 160);
    color: white;
    display: block;
}