h2 {
    color: #5FCFFC;
    background-color: papayawhip;
}

h3 {
    color: #5FCFFC;
    background-color: papayawhip;
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: white;
    background: rgb(197, 133, 13);  
}

/* body {
    background-color: #000;
} */